@import url("../section-title/section-title.css");
@import url("../section-subtitle/section-subtitle.css");

.techniques {
  display: flex;
  flex-direction: column;
  margin: 0 auto 100px;
  width: 80%;
}

.cards__item:nth-child(3n+3) {
  margin-right: 0;
}
