.two-columns__brief {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  align-self: stretch;
  width: 175px;
  color: #2f80ed;
  margin: 0;
  padding: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  display: block;
}